<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet"
	href="./static/OAuthAppEngineSample.css">
<title>oauth2-google-appengine-example</title>
<link rel="stylesheet" href="./static/clean.css">
</head>
<body>

	<div class="login-banner" align="right">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>

					{% if has_credentials %}
					<td align="left" style="vertical-align: top;"><a
						class="login-area" href="{{ url }}" title="Sign out">{{
							user_name }}</a></td>
					<td align="left" style="vertical-align: top;"><img
						class="login-area" src="{{ user_image_url }}" style="width: 24px;"
						aria-hidden="false" /></td> {% else %}
					<td align="left" style="vertical-align: top;"><a
						class="login-area" href="{{ url }}" title="Sign in">Please,
							sign in with your Google Account</a></td> {% endif %}

				</tr>
			</tbody>
		</table>
	</div>

	<br></br>
	<table align="center">
		<tbody>
			<tr>
				<td>
					<h2 align="center">OAuth2 Google AppEngine Example from
						Software Engineering Candies</h2>
					<h2 align="center">
						<a
							href="http://www.sw-engineering-candies.com/blog-1/how-to-get-user-information-with-oauth2-in-a-google-appengine-python-application">
							How to get User Information with OAuth2 in a Google AppEngine
							Python Application? </a>
					</h2>
					<h2 align="center">
						You can <a
							href="https://www.google.com/accounts/b/0/IssuedAuthSubTokens">
							revoke</a> permission at any time.
					</h2>
				</td>
			</tr>
		</tbody>
	</table>

	<br></br>
	<table align="center">
		<tbody>
			<tr>
				<td colspan="2" style="font-weight: bold;">Please enter your
					name:</td>
			</tr>
			<tr>
				{% if has_credentials %}
				<form action="/response" method="post">
					<td><input type="text" name="content" class="gwt-TextBox"
						value="{{ user_name }}"></input></td>
					<td><button type="submit" class="gwt-Button sendButton">Send</button></td>
				</form>
				{% else %}
				<td><input type="text" class="gwt-TextBox" disabled=""></td>
				<td><button type="button" class="gwt-Button sendButton"
						disabled="">Send</button></td> {% endif %}
			</tr>
			<tr>
				<td colspan="2" style="color: red;" id="errorLabelContainer"><div
						class="gwt-Label"></div></td>
			</tr>
		</tbody>
	</table>
</body>
</html>